@import "variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;

}

.btn{
  background-color: $brand-secondary-color;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: .8rem;
  padding: 10px 20px;
  border-radius: 20px;
}

.line-list{
  list-style-type: none;

  li{
    display: inline-block;
  }
}