$brand-primary-color: #69bf14;
$brand-primary-color-dark: #4c8d53;
$brand-secondary-color: #1975c0;
$brand-secondary-color-dark: #1b74c3;
$background-color-section: #f2f7fa;

$text-primary-color: white;
$text-secondary-color: #93989b;
$text-secondary-color-dark: #262727;

$app-header-cta-height: 2rem;
$app-header-navbar-height: 5rem;
$main-section-padding: 8rem 0;